.home-section{
  background-color: #ffffff;
}

.space-between{
  padding: 1.8rem !important;
}
.empty-space{
  height: 20vh;
}

.discount-card {
  max-width: 100vh;
  background-color: rgba(47, 111, 47, 0.9);
  margin-top: -20%; /* This pulls card upward */
  border-radius: 12px;
}

.hero-section {
  min-height: 70vh;
  background-image: url('/images/home-img-1.jpg');
  background-size: cover;        /* fills entire section */
  background-position: center;   /* center image */
  background-repeat: no-repeat;  /* prevent repeat */

  position: relative;
  display: flex;
  align-items: center;           /* vertical center content */
}


